.button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

#play {
  background-image: url('../images/play.png');
}

#pause {
  background-image: url('../images/pause.png');
}

#backward {
  background-image: url('../images/backward.png');
}

#forward {
  background-image: url('../images/forward.png');
}
